<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="layout/frame :: header"></div>
<th:block th:replace="~{layout/career_bar::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<h1>승인 대기중인 경력 리스트</h1>
		<p>가장 최근의 10건만 뜹니다.</p>
		<div th:if="${#lists.isEmpty(result)}">
			승인 대기중인 경력이 없습니다!
		</div>
		<div th:if="${not #lists.isEmpty(result)}">
		    <table class="table table-striped">
		    	<thead>
	            	<tr>
						<th scope="col">#</th>
						<th scope="col">회사 명</th>
						<th scope="col">직종 및 업무</th>
						<th scope="col">경력 시작일</th>
						<th scope="col">경력 종료일</th>
						<th scope="col">결제 여부</th>
	            	</tr>
	         	</thead>
		        <tbody>
		            <tr th:each="dto : ${result.list}">
		        		<th scope="row">[[${dto.dno}]]</th>
						<td><a th:href="@{/career/pending/(num=${dto.dno})">[[${dto.company}]]
						</a></td>
						<td>[[${dto.job}]]</td>
						<td>[[${#temporals.format(dto.career_start, 'yyyy/MM/dd')}]]</td>
						<td>[[${#temporals.format(dto.career_end, 'yyyy/MM/dd')}]]</td>
						<td th:if="${dto.payment == '0'}">결제 미완료</td>
						<td th:if="${dto.payment != '0'}">[[${dto.payment}]]</td>
		            </tr>
		         </tbody>
	      	</table>
      </div>
	</th:block>
</th:block>
<div th:replace="layout/frame :: footer"></div>
<script>
	var msg = [[${result}]];
	var result = confirm(result);
	if(! result) {
		location.replace('http://localhost:80/');    
	}
</script>
</html>
